.header{
    background-color: rgb(15, 15, 15);
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.left{
    width: 190px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.middle{
    display: flex;
    flex: 1;
    margin-right: 10px;
    max-width: 750px;
}

.right{
    width: 200px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
}

.Se{
    position: relative;
}

.TS{
    font-family: Roboto, Arial;
    background-color: gray;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 50px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
}

.Se:hover .TS{
    opacity: 1;
}

.Search{
    background-color: rgb(68, 68, 68);
    color: rgb(153, 153, 153);
    display: flex;
    flex: 1;
    font-size: 17px;
    border-start-start-radius: 15px;
    border-end-start-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 50px;
    border-style:solid;
    border-color:  rgb(40, 40, 40);
}

.S{
    margin-right: 10px;
    width: 58px;
    height: 35px;
    justify-content:center;
    color: white;
    font-size: 20px;
    border-top-right-radius: 15px;
    border-end-end-radius: 15px;
    margin-top: 10px;
    display: flex;
    border-style: solid;
    align-items: center;
    cursor: pointer;
    border-color:  rgb(40, 40, 40);
    background-color: rgb(40, 40, 40);
    transition: background-color 0.1s;
}

.mic{
    background-color: rgb(40, 40, 40);
    width: 40px;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 90px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.mic:hover{
    background-color:rgb(67, 67, 67);
}
.mic:active{
    background-color: rgb(80, 80, 80);    
}

.M{
    position: relative;
     display: flex;
    justify-content: center;
}

.TM{
    font-family: Roboto, Arial;
    background-color: gray;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 50px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
    white-space: nowrap;
}

.M:hover .TM{
    opacity: 1;
}

.L{
    margin-left: 20px;
    font-size: 27px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.TT{
    color: black; 
    font-size: 20px;
    margin-left: 3px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.notifictions{
   
    width: 40px;
    height: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 90px;
    margin-top: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.notifictions:hover{
    background-color:rgb(67, 67, 67);
}
.notifictions:active{
    background-color: rgb(80, 80, 80);
    opacity: 0.6s;
}

.N{
    position: relative;
    display: flex;
    justify-content: center;
}

.TN{
    font-family: Roboto, Arial;
    background-color: gray;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    top: 50px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s;
    white-space: nowrap;
}

.N:hover .TN{
    opacity: 1;
}

.NoNumber{
    font-family: Roboto, Arial;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: 12px;
    width: 18px;
    height: 18px;
    background-color: red;
    color: white;
    border-radius: 40px;
    top: 7px;
    right: 0;
}

.User{
  
    width: 40px;
    height: 40px;
    justify-content:center;
    margin-top: 2px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-right: 35px;
    margin-left: 20px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.1s;
}
.User:hover{
    background-color:rgb(67, 67, 67);
}
.User:active{
    background-color: rgb(80, 80, 80);
    opacity: 0.6s;
}
