@media (max-width:520px){
    .VidB{
        grid-template-columns: 1fr;
        padding-left: 60px;
    }

    .Search{
        margin-left: 0px;
    }

    .S{
        width: 32px;
        height: 35px;
        margin-right: 5px;
    }

    .right{
    display: flex;
    flex: 1;
    margin-left: 0px;
    }
    .User{
        margin-right: 0px;
        margin-left: 2px;
    }
}
@media (min-width:520px) and (max-width: 899px){
    .VidB{
        grid-template-columns: 1fr 1fr;
        padding-left: 60px;
    }
    .LeftBar{
    width: 60px;
    font-size: 15px;
    }
    .Home{
        width: 60px;
    }
    .ShVideo{
        width: 60px;
    }
    .Library{
        width: 60px;
    }
    .Clips{
        width: 60px;
    }
    .Later{
        width: 60px;
    }
    .History{
        width: 60px;
    }
    .Search{
        margin-left: 0px;
    }

    .S{
        width: 35px;
        height: 35px;
    }

    .right{
    display: flex;
    flex: 1;
}

}
@media (min-width:900px) and (max-width:1099px){
    .VidB{
        grid-template-columns: 1fr 1fr 1fr;
        padding-left: 60px;
    }
}
@media (min-width:1100px) and (max-width:1999px){
    .VidB{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding-left: 60px;
    }
}
@media (min-width:2000px) and (max-width:2299px){
    .VidB{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        padding-left: 60px;
    }
}
@media (min-width:2300px){
    .VidB{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding-left: 60px;
    }
}