.Q{
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: 250px;
    width: 100%;
}

.video__item {
    width: 100%;
    height: 749px;
    object-fit: cover;
    display: block;
}

.A{
    margin-top: 60px;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 0;
    margin-top: 320px;
    width: 100%;
}

.N{
    width: 80px; 
    height: 35px;
    font-size: 25px;
    border-radius: 50px;
    border-style: none;
    text-align: center;
}

.OP{
    width: 30px; 
    height: 35px;
    font-size: 25px;
    border-radius: 50px;
    border-style: none;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.Te{
    width: 50px; 
    height: 35px;
    font-size: 25px;
    border-radius: 50px;
    border-style: none;
    margin-top: 10px;
    text-align: center;
}

.S{
    margin-top: 20px;
    width: 130px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    background-color: yellow;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
}

.S:hover{
    background-color: rgb(237, 237, 0);
}

.S:active{
    background-color: rgb(218, 218, 0);
}

f{
    color: rgb(60, 140, 252);
    font-size: 50px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
}

f1{
    color: rgb(30, 255, 0);
    font-size: 70px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 90px;
    width: 100%;
}

f2{
    color: rgb(255, 0, 0);
    font-size: 60px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100px;
    width: 100%;
}